<!DOCTYPE html>
<html lang="en">

<head>
    <title>File Upload</title>
</head>

<body>

    <div style="text-align: center;">
        <h1>Upload file to server </h1>
    </div>

    <div style="display: flex; justify-content: center;">
        <form onsubmit="event.preventDefault()" id="upload_form" enctype="multipart/form-data" method="post">
            <input type="file" name="myFile" id="myFile">
            <input type="submit" name="submitFile" value="upload" onclick="uploadFile()">
            <br>
            <progress id="progressBar" value="0" max="100" style="width:300px;"></progress>
            <h3 id="status"></h3>
            <p id="loaded_n_total"></p>
        </form>
    </div>

    <!-- Script -->
    <script>
        function _(el) {
            return document.getElementById(el);
        }

        function uploadFile() {
            var file = _("myFile").files[0];
            var formdata = new FormData();
            formdata.append("myFile", file);
            var ajax = new XMLHttpRequest();
            ajax.upload.addEventListener("progress", progressHandler, false);
            ajax.addEventListener("load", completeHandler, false);
            ajax.addEventListener("error", errorHandler, false);
            ajax.addEventListener("abort", abortHandler, false);
            ajax.open("POST",
                "http://localhost:8080/");
            ajax.send(formdata);
        }

        function progressHandler(event) {
            _("loaded_n_total").innerHTML = "Uploaded " + event.loaded + " bytes of " + event.total;
            var percent = (event.loaded / event.total) * 100;
            _("progressBar").value = Math.round(percent);
            _("status").innerHTML = Math.round(percent) + "% uploaded... please wait";
        }

        function completeHandler(event) {
            _("status").innerHTML = event.target.responseText;
            _("progressBar").value = 0;
        }

        function errorHandler(event) {
            _("status").innerHTML = "Upload Failed";
        }

        function abortHandler(event) {
            _("status").innerHTML = "Upload Aborted";
        }
    </script>